:root {
    --blue: rgba(25, 52, 94, 1);
    --orange: rgba(244, 117, 34, 1);
  }
  
  main {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 45% 55%;
  }
  
  h2,
  label {
    color: var(--blue);
  }
  
  span {
    color: red;
  }
  
  .container-content-image {
    position: relative;
    display: grid;
    place-items: center;
  }
  .content-image {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .logo {
    width: 50%;
    height: auto;
    opacity: 65%;
  }
  .bg-img,
  .logo {
    object-fit: cover;
  }
  .backrop-img {
    background-color: rgba(25, 52, 94, 0.65);
  }
  
  .content-form {
    padding: 83px 98px;
  }
  .container-my-button {
    margin: 40px auto;
  }
  .my-button {
    width: 96px;
    height: 40px;
    border-radius: 24px;
    color: rgba(255, 255, 255, 1);
    background-color: var(--orange);
  }
  
  .errMessage {
    /* margin-top: 2px; */
    font-size: 12px;
    color: rgba(255, 0, 0, 0.61);
    margin-bottom: 0;
  }
  .hide {
    visibility: hidden;
  }
  .show {
    visibility: visible;
  }
  .errField {
    border-color: rgba(255, 0, 0, 0.61);
  }
  
  @media only screen and (max-width: 756px) {
    main {
      grid-template-columns: 100%;
    }
    .container-content-image {
      min-height: 30vh;
    }
    .logo {
      width: 30%;
    }
    .content-form {
      padding: 83px 60px;
    }
    .my-button {
      width: 100%;
    }
  }