.mycontainer {
    width: 90%;
    max-width: 768px;
    margin: 48px auto;
  }
  .subjudul {
    margin: 24px auto 8px;
    color: rgb(71, 70, 70);
    text-transform: uppercase;
    font-size: small;
  }
  .judul {
    margin: 0 auto 20px;
  }
  
  .ket,
  .author {
    color: rgba(51, 51, 51, 0.61);
  }
  .ket {
    margin: 0 auto 12px;
  }
  .author {
    margin-bottom: 0;
  }
  
  .imgContainer {
    margin: 16px auto;
  }
  .imgContainer img {
    width: 100%;
    object-fit: cover;
  }
  
  .berita {
    margin: 32px auto;
  }
  
  .berita > p {
    font-size: large;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
    margin: 32px auto;
  }